{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <title>AirWrite Soft - Home</title>
  <link rel="stylesheet" href="{% static 'airwrite/css/home.css' %}">
</head>

<body>
  <div class="home">
    <div class="ellipse"></div>
    <div class="div"></div>
    <div class="ellipse-2"></div>
    <div class="ellipse-3"></div>
    <div class="tus-ideas">TUS IDEAS</div>
    <img class="line" src="https://c.animaapp.com/mgr7itvqEOaRcZ/img/line-1.svg" />
    <p class="text-wrapper">Notas rápidas, ideas claras. Escribe lo que quieras, donde quieras, sin complicarte.</p>
      <a href="{% url 'trazos' %}">
        <div class="frame">
          <div class="text-wrapper-2">Comencemos!</div>
        </div>   
      </a>
    <div class="como-usar-bloque">
      <div class="text-wrapper-3">Como usar?</div>
      <div class="frame-2">
        <img class="polygon" src="https://c.animaapp.com/mgr7itvqEOaRcZ/img/polygon-1.svg" />
        <div class="ellipse-4"></div>
      </div>
    </div>

    <div class="text-wrapper-4">AIRWRITE SOFT</div>
    
        {% load socialaccount %}
    <a href="{% url 'logout' %}" class="div-wrapper" >
      <div class="text-wrapper-5">Cerrar Sesión</div>
      <div class="register-line"></div>
    </a>

    <img class="campanas" src="{% static 'airwrite/img/campana-not.png' %}" alt="Notificaciones" />

<p class="p" data-username="{{ user.first_name }}">Hola, {{ user.username }}! 👋</p>
    <nav class="top-side">
      <ul class="main-menu">
        <li><a href="#" class="menu-link" id="menuInicio">Inicio</a></li>
        <li><a href="#" class="menu-link" id="menuAcerca">Acerca de</a></li>
        <li><a href="#" class="menu-link" id="menuContacto">Contacto</a></li>
      </ul>
    </nav>
    <div class="MERECEN-FLOTAR-CON">MERECEN FLOTAR<br />CON ESTILO</div>
    <img class="output" src="{% static 'airwrite/img/vector-home.gif' %}" alt="Vector animado" />
  </div>

  <script src="{% static 'airwrite/js/home.js' %}"></script>
</body>

</html>